body {background-color:#007D91;
margin:0;
}

.container {
    width: 1500px;
    margin: auto;
    background-color: #F8F9F9 ;
}

.bilde {
    width: 40%;
    border-radius: 50%;
    padding: 0px;
    margin-top: 40px;


   
}

.cv-title {
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
}

.quarter {
   width: 20%;
   text-align: center;
   position: absolute;
   top: 0px;
   width: 300px;
   background-image: linear-gradient(
    to left,
    transparent 50px,
    #007D91 500px,
    #007D91 calc(100% - 50px),
    transparent 0
  );
  height: 1450px; 
}





.half {
    width: 75%;
    height: 750px;
    border-left: 1px groove	#C0C0C0;
    margin-left: 300px;
    padding-left: 35px;
}

.half2 {
    width: 75%;
    height: 200px;
    border-left: 1px groove	#C0C0C0;
    margin-left: 300px;
    padding-left: 35px;
    padding-top: 150px;
}

.row {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    
}

.cv-name {
    font-weight: bold;
}

.cv-box {
    border: 1px solid silver;
    background-color:white;
    height: 380px;
    width: 465px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.bilde-jobb {
    width: 4%;
    height: 4%;
    padding-right: 5px;
}

.cv-companytitle {
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
}

.cv-subtitle {
    font-size: 20px;
    font-style: italic;
}

.cv-text-intro {
    font-style: italic;
    font-size: 13px;
    width: 420px;
}

.cv-text2 {
    font-size: 16px;
    width: 420px;
}

.cv-text-duration {
    font-family: 'Times New Roman', Times, serif;
}



/* fixed scrolling */

.bilde {
    position: sticky;
    top: 0px;
}

.cv-name {
    position: sticky;
    top: 150px;
}
.cv-text-1 {
    position: sticky;
    top: 185px;
}
.cv-text-2 {
    position: sticky;
    top: 215px;
}
.cv-text-3 {
    position: sticky;
    top: 250px;
}
.cv-text-4 {
    position: sticky;
    top: 285px;
}



