body {background-color: #F8F9F9 ;}

.container {
    width: 1500px;
}

.bilde {
    width: 40%;
    border-radius: 50%;
    padding: 0px; 
   
}

.cv-title {
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
}

.quarter {
   width: 20%;
   text-align: center;
   position: fixed;
   top: 50px;
   width: 300px;
}

.half {
    width: 75%;
    height: 750px;
    border-left: 1px groove	#C0C0C0;
    margin-left: 300px;
    padding-left: 35px; 
}

.half2 {
    width: 75%;
    height: 200px;
    border-left: 1px groove	#C0C0C0;
    margin-left: 300px;
    padding-left: 35px;
    padding-top: 150px;
}

.row {
    display: flex;
    font-family: 'Times New Roman', Times, serif
}

.cv-name {
    font-weight: bold;
}

.cv-box {
    border: 1px solid silver;
    background-color:white;
    height: 380px;
    width: 465px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.bilde-jobb {
    width: 4%;
    height: 4%;
    padding-right: 5px;
}

.cv-companytitle {
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
}

.cv-subtitle {
    font-size: 20px;
    font-style: italic;
}

.cv-text-intro {
    font-style: italic;
    font-size: 13px;
    width: 420px;
}

.cv-text2 {
    font-size: 16px;
    width: 420px;
}

.cv-text-duration {
    font-family: 'Times New Roman', Times, serif;
}